.projects {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects #project{
    display: flex;
    align-items: center;
    border: red 2px solid;
    margin-inline: 20px;
    margin-block: 5px;
    width: 125px;
    height: 200px;
}
.projects #project p{
    text-align: center;
    width: 100%;
}