body {
    background-image: url(https://images.unsplash.com/photo-1488972685288-c3fd157d7c7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
    background-repeat: repeat-y;
    background-size: cover;
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {margin-top: 0;}

button:hover{
    cursor: pointer;
    background: black;
    color: white;
}

.main {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: repeat-y;
    background-size: cover;
    color: azure;
    width: 100%;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
}

main#center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Navigation */
.nav {
    display: flex;
    background: white;
    height: 75px;
}
.nav ul {
    padding-inline-start: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    list-style: none;
}
.nav div{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline: 20px;
}
.nav a{
    text-decoration: underline;
    color: black;
}
.nav a:hover{
    cursor: pointer;
    color: #333333;
}
.nav img{
    height: 100%;
}
.nav button, .nav-style-button{
    border-radius: 0;
    border: 2px black solid;
    background: white;
    color: black;
    padding-inline: 15px;
    padding-block: 10px;
}

.nav button:hover, .nav-style-button:hover {
    background: black;
    color: white;
}

.main-button {
    background: transparent;
    color: white;
    border-color: white;
}

.main-button:hover {
    background: white !important;
    color: black;
}

.section #section-header {
    padding-top: 25px;
}

.section {
    min-height: 100vh;
    background: white;
    color: black;
}

section#about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.about-section {
    display: flex;
    justify-content: space-around;
}

.about-image {
    width: 400px;
    height: 500px;
    border-radius: 15px;
}